#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#map {
margin-left: auto;
  margin-right: auto;
  border: thin solid black;
  height: 650px;
  width: 650px;
}
